<%= form_for(@player) do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :sprite %>
    <%= f.hidden_field :region_server %>
    <%= f.hidden_field :mental %>
    <%= f.hidden_field :physical %>
    <%= f.hidden_field :social %>
    <%= f.hidden_field :race_id %>
    <%= f.hidden_field :profession_id %>
    <div class="row">
      <div id="submit-div" class="small-12 medium-3 large-3 columns hidden"><%= f.submit %></div>
    </div>
<% end %>
